<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Gould</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li class="nav-link"><%= link_to "Home", root_path %></li>
          <li class="nav-link"><%= link_to "About me", bio_path %></li>
          <li class="nav-link"><%= link_to "Projects", projects_path %></li>
          <li class="nav-link"><%= link_to "Blogs", blogs_path %></li>
          <li class="nav-link"><%= link_to "Thanks to", thanks_path %></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
